<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
    <div class="dateAndTime">
        <p id="H-live-time"></p>
    </div>
    <div class="Home-container ">
        <h1 class="forcast"> Weather Forecast</h1>
        <form class="Home-Form" action="/weather" method="post">
            <input class="city" name="cityname" type="text" required="">
            <button type="submit" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>

        </form>

        <p>Enter the City Name</p>
    </div>


    <script>
        function updateTime() {
            const now = new Date();
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            document.getElementById('H-live-time').innerText = `${hours}:${minutes}:${seconds}`;
        }

        // Update the live time every second
        setInterval(updateTime, 1000);

        // Initial call to set the initial time
        updateTime();

    </script>
    <script src="../index.js"></script>
</body>

</html>