body {
    background-image: url("https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722375/night.png?resize=400x300&vertical=center");
}

/*
h1 {
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
} */

.cityName {
    font-family: monospace;
    color: antiquewhite;
    font-size: 2rem;
    margin: 0;
}

.myForm {
    display: flex;
    justify-content: center;
    width: 50%;

    margin-top: 0;
}

.weather {
    display: flex;
    justify-content: start;
}

.weather-info {
    text-align: center;
}

/*
.cityName {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(178, 199, 218);
    text-align: center;
    margin-bottom: 0;
}*/

.forcast {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.7;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.container {
    height: 80vh;
    width: 50vw;
    background: linear-gradient(to bottom right, rgb(195, 200, 206), rgb(127, 135, 206), rgb(70, 59, 116));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(66, 67, 71);
    padding: 20px;
}

.city {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px -1px rgb(232, 248, 255);
}

.btn {
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    padding: 15px;
}

.btn:hover {
    box-shadow: 0 0 10px rgb(36, 34, 34);
    padding: 14px;
}

.temp {
    color: aliceblue;
    font-family: monospace;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
}

.weather-condition {
    color: aliceblue;
    font-family: monospace;
    margin-top: 0;

}


.cityAndDate {
    display: flex;
    justify-content: space-between;
}



.otherinfo {
    display: flex;
    border: 2px;
    border-radius: 20px;
    padding: 20px 50px;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.box {
    background: linear-gradient(to bottom right, rgb(146, 146, 219), rgb(106, 106, 158), rgb(199, 199, 230));
    border: 1px;
    border-radius: 10px;
    padding: 10px 20px
}

p,
.error {
    color: aliceblue;
    font-family: monospace;
}

.dateAndTime{
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media (max-width: 768px) {
    body {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 100vh;
        width: 100vw;
        background: none;
        margin: 10px;
        margin-top: 50px;
        box-shadow: none;

    }

    p {
        position: relative;
        left: -30px;
    }

    .box {
        /*   background: linear-gradient(to bottom right, rgb(180, 180, 238), rgb(134, 134, 168), rgb(206, 206, 212)); */
        background: none;
        border: 1px solid rgb(255, 255, 255);
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .otherinfo {
        display: flex;
        flex-direction: column;

    }

    .box:hover {
        background: linear-gradient(to bottom right, rgb(146, 146, 219), rgb(106, 106, 158), rgb(199, 199, 230));

    }

    .dateAndTime{
        display: flex;
        justify-content: space-between;

    }

    .date{
      position: relative;
      left: 70px;
      font-size: 1rem;
    }

    #live-time{
        position: relative;
        left: -50px;
        top: 10px;
        font-size: 1rem;
    }

}